	a.save-postit.glyphicon.glyphicon-save {
		float: right;
	}
	.post-it-container,.btn-container {
		width: 75%;
		background-color: rgb(243,119,53);		
		padding: 50px;
		border-radius: 10px;
		margin-bottom: 10px;

	}
	.postit {
		width: 30%;
		height: 200px;
		border: 2px solid rgb(0,177,89) ;
		display: inline-block;
		overflow: hidden;
		border-radius: 10px;
		margin: 10px;
		padding: 5px;
		box-shadow: 10px 10px 20px rgb(0,177,89);

	}
	h2 {
		color: rgb(0,174,219);
	}
	.postit, textarea {
		background-color: rgb(255,196,37);
	}
	textarea {
		width: 100%;
		min-height: 80%;
		border: none;
	}
	/*******************************/
	/*Loader stuffs*/
	/*******************************/
	.container {
		display: none;
	}
	#loader {
		position: absolute;
		left: 50%;
		top: 50%;
		z-index: 1;
		width: 150px;
		height: 150px;
		margin: -75px 0 0 -75px;
		border: 16px solid #f3f3f3;
		border-radius: 50%;
		border-top: 16px solid #3498db;
		width: 120px;
		height: 120px;
		-webkit-animation: spin 2s linear infinite;
		animation: spin 2s linear infinite;
	}

	@-webkit-keyframes spin {
		0% { -webkit-transform: rotate(0deg); }
		100% { -webkit-transform: rotate(360deg); }
	}

	@keyframes spin {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}

	/* Add animation to "page content" */
	.animate-bottom {
		position: relative;
		-webkit-animation-name: animatebottom;
		-webkit-animation-duration: 1s;
		animation-name: animatebottom;
		animation-duration: 1s
	}

	@-webkit-keyframes animatebottom {
		from { bottom:-100px; opacity:0 } 
		to { bottom:0px; opacity:1 }
	}

	@keyframes animatebottom { 
		from{ bottom:-100px; opacity:0 } 
		to{ bottom:0; opacity:1 }
	}